<div class="row">
  <div class="col-md-12">
    <h4>Please select the user type:</h4>
    <select
      name="scanUser"
      class="form-control menu"
      (change)="onChange($event)"
      required
    >
      <option value=""></option>
      <option value="government">Government</option>
      <option value="hotels">Hotels</option>
      <option value="stadiums">Stadiums</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <app-scanner></app-scanner>
  </div>
</div>
