<div class="row">
  <div class="col-md-6 col-xs-5">
    <h4>
      Passport: <span class="info">{{ user.passport }}</span>
    </h4>
  </div>
  <div class="col-md-6 col-xs-7">
    <h4>
      DateOfBirth: <span class="info">{{ user.dateOfBirth }}</span>
    </h4>
  </div>
</div>
<div class="row">
  <div class="col-xs-4">
    <h4>
      Zone: <span class="info">{{ user.zone }}</span>
    </h4>
  </div>
  <div class="col-xs-4">
    <h4>
      Street: <span class="info">{{ user.street }}</span>
    </h4>
  </div>
  <div class="col-xs-4">
    <h4>
      Building: <span class="info">{{ user.building }}</span>
    </h4>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h4>
      Phone: <span class="info">{{ user.phone }}</span>
    </h4>
  </div>
  <div class="col-md-6">
    <h4>
      Nationality: <span class="info">{{ user.nationality }}</span>
    </h4>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h4>
      Entry date: <span class="info">{{ user.entryDate }}</span>
    </h4>
  </div>
  <div class="col-md-6">
    <h4>
      Stay remaining: <span class="info">{{ user.remainingDays }} days</span>
    </h4>
  </div>
</div>
