.title {
  font-size: 80px;
}
.home {
  border: 1px dashed #ffadad;
  border-top: none;
  box-shadow: 5px 10px 10px #888888;
  padding-bottom: 50px;
  background-image: linear-gradient(#ffe3e3, #ffffff);
  height: 100vh;
}
.banner {
  box-shadow: 5px 10px 10px #888888;
  padding: 0;
}
.container {
  padding: 0;
}
.row {
  margin: 0;
}
