<div class="row text-center" *ngIf="loading">
  <div class="col-xs-6 col-xs-push-3">
    <app-spinner-one></app-spinner-one>
  </div>
</div>
<div *ngIf="!loading">
  <div class="row">
    <div class="col-md-4 col-md-push-4 col-xs-4 col-xs-push-4">
      <img
        src="../../assets/images/stad-2.png"
        class="img-responsive"
        alt="Stadium"
      />
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-12">
      <h4 class="welcome">Enjoy your time & our great service</h4>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-12">
      <h2 class="stadium-title">{{ currentStadium?.name }}</h2>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4 col-md-push-4 col-xs-4 col-xs-push-4">
      <img
        *ngIf="validBooking"
        src="../../assets/images/valid-booking.png"
        class="img-responsive"
        alt="Valid Booking"
      />
      <img
        *ngIf="!validBooking"
        src="../../assets/images/invalid-booking.png"
        class="img-responsive"
        alt="Valid Booking"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-xs-6">
      <h4>
        Ticket No.:
        <span class="info">{{ currentStadiumBooking?.ticketNo }}</span>
      </h4>
    </div>
    <div class="col-md-6 col-xs-6">
      <h4>
        Seat No.: <span class="info">{{ currentStadiumBooking?.seatNo }}</span>
      </h4>
    </div>
    <div class="col-md-6 col-xs-6">
      <h4>
        Date: <span class="info">{{ currentStadiumBooking?.date }}</span>
      </h4>
    </div>
    <div class="col-md-6 col-xs-6">
      <h4>
        Match time:
        <span class="info">{{ currentStadiumBooking?.matchTime }}</span>
      </h4>
    </div>
  </div>
  <div class="row text-center" style="margin-top: 40px">
    <div class="col-xs-4 col-xs-push-4">
      <button class="btn btn-danger" (click)="onBack()">Back to scan</button>
    </div>
  </div>
</div>
