<div class="row">
  <div class="col-md-7 col-xs-7">
    <img [src]="user.imageUrl" class="img-thumbnail" alt="User Photo" />
  </div>
  <div class="col-md-4 col-xs-4">
    <h2
      [ngClass]="
        user.covidStatus === 'vaccinated' ? 'covid green' : 'covid red'
      "
    >
      {{ covidStatus }}
    </h2>
    <h2 [ngClass]="user.covidStatus === 'vaccinated' ? 'green' : 'red'">
      <span
        [ngClass]="
          user.covidStatus === 'vaccinated'
            ? 'glyphicon glyphicon-ok'
            : 'glyphicon glyphicon-remove'
        "
      ></span>
    </h2>
    <img
      class="img-responsive"
      *ngIf="user.covidStatus === 'vaccinated'"
      src="../../assets/images/green.png"
      alt="vaccinated"
    />
    <img
      class="img-responsive"
      *ngIf="user.covidStatus === 'unvaccinated'"
      src="../../assets/images/red.png"
      alt="vaccinated"
    />
  </div>
</div>
<div
  class="row"
  style="border-bottom: 1px dashed #4681ee; padding-bottom: 20px"
>
  <div class="col-md-12">
    <h2 class="name">{{ user.firstName }} {{ user.lastName }}</h2>
    <h3 class="id-number">{{ user.idNumber }}</h3>
  </div>
</div>
